@tailwind base;
@tailwind components;
@tailwind utilities;


/* Optional: Custom global styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

input,
button {
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

body{
    background-color: rgb(241, 245, 241);
}